<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935993265772-qikl5u636ir12rqjc19tbuc09qkja0b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935993265772-qikl5u636ir12rqjc19tbuc09qkja0b8</string>
	<key>API_KEY</key>
	<string>AIzaSyA69NFYRCg1Bj6wx37_9yWZMVyyBDcggts</string>
	<key>GCM_SENDER_ID</key>
	<string>935993265772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.r.t.astronomy.message</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-31a17</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-31a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935993265772:ios:ba6d9f922418fa265a9249</string>
	<key>DATABASE_URL</key>
	<string>https://chatwithfirebaseapp-31a17.firebaseio.com</string>
</dict>
</plist>